clu
dm-reverb-nightly>=0.9.0.dev20221205
gym<=0.23.0
matplotlib
numpy
opencv-python
protobuf
pybullet
rlds>=0.1.7
scipy
six
tf-nightly>=2.12.0.dev20230201
tensorflow_datasets
tensorflow_text
tf_agents>=0.14.0
git+https://github.com/openai/CLIP.git
git+https://github.com/google-research/scenic.git
